<h1>Привет!</h1>
<p>Обычно на этой странице пишут опусы на тему миссии и ценностей компании, регалии и чины больших боссов, количество офисов, лет на рынке и полученных наград.

У нас пока еще всего этого нет, поэтому мы просто напишем кто мы и почему мы.

Мы – команда инициативных и любящих свое дело людей, которые по счастливому стечению обстоятельств собрались вместе делать хороший финансовый сервис. Мы устали от скучных, консервативных и неудобных банков. Где очереди, миллионы бумажек, «подойдите в 5-е окошко», «а вот тут было написано мелким шрифтом».

  Мы верим, что банкинг может быть приятным, удобным и неутомительным. Мы такие же как вы люди, и мы можем общаться на простом человеческом языке. Мы не будем утомлять вас сложными юридическими, бухгалтерскими, банковскими терминами (как минимум там, где нам это позволяют Законы Украины :)</p>