<h2> Безопасность</h2>
<p>

  Безопасные платежи и переводы с поддержкой Secure Sockets Layer (SSL) | сервис Uplata.com.ua
  SSL

  Криптографический протокол Secure Sockets Layer (SSL) – обеспечивает конфиденциальное соединение и безопасную передачу данных благодаря современным методам шифрования. Принцип безопасности – один из ключевых для Uplata. Поэтому мы осуществляем автоматическое ssl-шифрование данных при передаче любой конфиденциальной информации от Вашего компьютера к серверу. Надежность нашего сертификата подтверждена международным агентством , а длина ключа составляет 256 бит.

  Безопасные платежи и переводы с поддержкой PCI DSS| сервис Uplata.com.ua
  PCI DSS

  Payment Card Industry Data Security Standard (PCI DSS) – стандарт безопасности данных международных платежных систем Visa и MasterCard. PCI DSS еще в далеком 2006 году стал обязателен для любой компании, которая в той или иной мере осуществляет операции с платежными картами MasterCard и Visa. Не будем утомлять подробным описанием стандарта, скажем лишь, что он содержит 12 требований, начиная от построения системы защиты данных владельцев платежных карт и заканчивая разработкой всевозможных политик безопасности. Вы можете быть уверены, что любая оплата услуг или перевод денежных средств на нашем сайте происходит в соответствии с требованиями последнего стандарта PCI DSS 3.2
</p>
